body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd9;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #f00;
}

div {
    margin-top: 50px;
}
ul {
    margin-top: 100px;
}